.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr;
}
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
    background-color: lightgreen;
    color: black;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:red;
}

a {
    color: forestgreen;
    text-decoration: none;
}

.main-page-link {
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}